<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>基于区块链平台的合同存证系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        .btn.btn-default {
            margin-left: 45%;
        }
    </style>
</head>

<body>

<div id="wrapper">
    <!--导航 -->
    <div th:insert="index::navbar"></div>

    <!-- 页面内容区 -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-12">
                    <h3 class="page-header" style="color: black">修改密码</h3>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-lg-5" >
                <div class="row">
                    <form method="post" action="" th:action="@{/updatePassword}">


                        <div class="form-group">
                            <label>请输入原密码</label>
                            <input class="form-control" name="usedPassword" type="password" required="required">
                        </div>
                        <div class="form-group">
                            <label>请输入新密码</label>
                            <input class="form-control" id="newPassword1" name="newPassword" type="password" required="required">
                        </div>
                        <div class="form-group">
                            <label>请再次输入新密码</label>
                            <input class="form-control" id="newPassword2" name="location" type="password" required="required">
                        </div>
                        <input type="submit" value="确定" class="btn btn-default" onclick="return check()"></input>

                    </form>

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- 内容区结束 -->
</div>
<!-- /#wrapper -->


<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<script th:inline="javascript">

    // $("input[type='submit']").on("click", function() {
    //
    //     if(isEmpty() == false) {
    //         alert("所填信息不能为空！");
    //         return;
    //     }
    //     var pwd1 = document.getElementById("newPassword1");
    //     var pwd2 = document.getElementById("newPassword2");
    //     if(pwd1.value != pwd2.value){
    //         alert("两次密码不一致");
    //         return;
    //     }
    // });
    function check(){
        if(isEmpty() == false) {
            alert("密码不能为空！");
            return false;
        }
        var pwd1 = document.getElementById("newPassword1");
        var pwd2 = document.getElementById("newPassword2");
        if(pwd1.value != pwd2.value){
            alert("两次密码不一致");
            return false;
        }
        return true;
    }
    //判断输入框不能为空
    function isEmpty(){
        var flag = true;
        $("input[type='password']").each(function(i, item){
            if(item.value == ""){
                flag = false;
            }
        });

        return flag;
    }
    var msg = [[${msg}]];
    if(msg != null) alert(msg);
</script>
</body>

</html>
